# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# Database
*.db
*.sqlite
*.sqlite3

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build files
build/
dist/
*.spec

# Test/cache
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log